<%- include('../partials/html-head') %>

<link rel="stylesheet" href="/stylesheets/theories/index.css">

<%- include('../partials/nav') %>

<section>
  <h1> <%= title %> </h1>
  <% if (user) { %>
    <h2>Add a Conspiracy Theory</h2>
    <form action="/theories" method="POST">
      <label>
        Theory:
        <input 
        type="text" 
        name="title" 
        required="true"
        autocomplete="off">
      </label>
      <br>
      <label>
        Description:
        <input 
        type="text" 
        name="description" 
        required="true"
        autocomplete="off">
      </label>
      <br>
      <button type="submit" class="btn btn-success btn-lg">Add Theory 👽</button>
    </form>
  <% } %> 
    <% if (theories.length) { %>
      <% theories.forEach(theory => { %>
       <ul>
        <li>🛸 <%= theory.owner.name %> | <%= theory.title %> <a href="/theories/<%= theory._id %> ">Details</a></li>
        </ul>
      <% }) %> 
    <% } else { %>
      <h1>There are currently no theories!</h1>
      <% } %> 
</section>

<%- include('../partials/footer') %>