<%- include('../partials/html-head') %>

<link rel="stylesheet" href="/stylesheets/theories/show.css">

<%- include('../partials/nav') %>

<section>
  <h1>Theory by <%= theory.owner.name %> </h1>
  <div>
    <img 
      src="<%= theory.owner.avatar %>" 
      alt="<%= theory.owner.name %> avatar"
    >
  </div>
  <h2><%= theory.title %> </h2>
  <h3>Description: </h3>
  <p><%= theory.description %> </p>
  <h3>Created on: </h3>
  <p><%= theory.createdAt %> </p>
  <% if (user) { %> 
  <h2>Add Evidence</h2>
  <form 
  id="add-evidence-form" 
  action="/theories/<%= theory._id %>/evidence"
  method="POST">
  <input type="text" placeholder="Input Evidence Here" name="content">
  <button type="submit" class="btn btn-success btn-lg">Submit</button>
  <% } %> 
  </form>
  <% if (theory.evidence.length) { %>
    <table>
      <thead>
        <tr>
          <th class="first">Username</th>
          <th>Evidence</th>
        </tr>
      </thead>
      <tbody>
        <% theory.evidence.forEach(function(e) { %>
          <tr>
            <td class="first"><%= e.owner.name %> </td>
            <td> <%= e.content %> </td>
          </tr>
        <% }) %> 
      </tbody>
    </table>
  <% } else { %>
    <h3>No Evidence Yet</h3>
    <% } %>
    <% if (theory.owner.equals(user?.profile._id)) { %>
     <form action="/theories/<%= theory._id %>/edit" method="GET">
      <button type="submit" class="btn btn-primary btn-lg">Edit this theory</button>
    </form>
    <form action="/theories/<%= theory._id %>?_method=DELETE"  method="POST">
    <button type="submit" class="btn btn-danger btn-lg">Delete this Theory</button>
    </form>
    <% } %>
</section>

<%- include('../partials/footer') %>